/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 18, ../sass/mystyle.scss */
body {
  background-color: #111111;
  font: 2em Lucida Grande, sans-sherif;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/mystyle.scss */
.barre_menu a {
  color: white;
}

/* line 30, ../sass/mystyle.scss */
.chide {
  display: none;
}

/* line 34, ../sass/mystyle.scss */
.content {
  padding: 15px;
}

/* line 38, ../sass/mystyle.scss */
.glyphicon-2x {
  font-size: 40px;
}

/* line 42, ../sass/mystyle.scss */
#simple-menu {
  margin-left: 15px;
  margin-top: 6px;
}

/* line 47, ../sass/mystyle.scss */
#bar-top {
  background-color: #1abc9c;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* line 55, ../sass/mystyle.scss */
.btn-menu-dg {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #222222), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(top left, #222222, #555555);
  background-image: -moz-linear-gradient(top left, #222222, #555555);
  background-image: -o-linear-gradient(top left, #222222, #555555);
  background-image: linear-gradient(top left, #222222, #555555);
  border: solid #555 1px;
  margin: 7px;
}
/* line 61, ../sass/mystyle.scss */
.btn-menu-dg h3 {
  margin: auto;
}
/* line 64, ../sass/mystyle.scss */
.btn-menu-dg a {
  color: white;
}
/* line 67, ../sass/mystyle.scss */
.btn-menu-dg a p {
  color: #ccc;
}
/* line 71, ../sass/mystyle.scss */
.btn-menu-dg img {
  margin-left: -15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/**   Calendrier ***/
/* line 77, ../sass/mystyle.scss */
#ladate {
  margin: 15px auto 25px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  background-color: white;
}
/* line 84, ../sass/mystyle.scss */
#ladate #bartop {
  width: 100%;
  background-color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
}
/* line 90, ../sass/mystyle.scss */
#ladate #jour {
  font-size: 5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
}
/* line 97, ../sass/mystyle.scss */
#ladate #mois {
  font-size: 1.5em;
}

/*** description des modules */
/* line 104, ../sass/mystyle.scss */
.inter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(left top, #000000, #777777);
  background-image: -moz-linear-gradient(left top, #000000, #777777);
  background-image: -o-linear-gradient(left top, #000000, #777777);
  background-image: linear-gradient(left top, #000000, #777777);
  border: solid #666 1px;
  -webkit-box-shadow: white;
  -moz-box-shadow: white;
  box-shadow: white;
  width: 330px;
  margin-bottom: 20px;
}
/* line 111, ../sass/mystyle.scss */
.inter .content {
  height: 155px;
  padding-top: 30px;
}
/* line 115, ../sass/mystyle.scss */
.inter .bandeau {
  padding: 2px;
  font-size: 0.95em;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(bottom, #333333, #111111);
  background-image: -moz-linear-gradient(bottom, #333333, #111111);
  background-image: -o-linear-gradient(bottom, #333333, #111111);
  background-image: linear-gradient(bottom, #333333, #111111);
  line-height: 2.2em;
}
/* line 122, ../sass/mystyle.scss */
.inter .bouttons {
  float: right;
  margin-right: 10px;
}
/* line 126, ../sass/mystyle.scss */
.inter .footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(top, #444444, #111111);
}
/* line 128, ../sass/mystyle.scss */
.inter .footer span {
  font-size: 0.8em;
}

/* line 134, ../sass/mystyle.scss */
.btn-green {
  background-color: #1abc9c;
}

/* line 137, ../sass/mystyle.scss */
.btn-yellow {
  background-color: #f1c40f;
}

/* line 140, ../sass/mystyle.scss */
.btn-blue {
  background-color: #3498db;
}

/* line 143, ../sass/mystyle.scss */
.btn-purple {
  background-color: #884da7;
}

/* line 146, ../sass/mystyle.scss */
.btn-orange {
  background-color: orange;
}

/* line 150, ../sass/mystyle.scss */
.btn_std {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: solid #444 1px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 156, ../sass/mystyle.scss */
.btn_std .content {
  padding-top: 10px;
}
/* line 160, ../sass/mystyle.scss */
.btn_std .bandeau {
  padding: 2px;
  font-size: 0.95em;
}
/* line 168, ../sass/mystyle.scss */
.btn_std .footer span {
  font-size: 0.75em;
}
/* line 172, ../sass/mystyle.scss */
.btn_std a {
  color: white;
}
