* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #111;
    font: "Lucida Grande", "Helvetica", sans-serif;
    size: 2em;
    color: #FFF;
}

#simple-menu{
    margin-left: 15px ;
    margin-top: 6px;
}

.btn-menu-dg h3{
    margin: auto;
    /*border: 1px solid yellow;*/
}

.btn-menu-dg a {
    color: white;
}

.btn-menu-dg a p {
    color: #CCC;
}

.btn-menu-dg img{
    margin-left: -15PX;
       border-radius: 5px 5px 5px 5px;

}

.btn-menu-dg{
    border-radius: 5px 5px 5px 5px;
    background-image: -webkit-linear-gradient(top left, #222 0%, #888 100%);
    background-image:    -moz-linear-gradient(top left, #222 0%, #888 100%);
    background-image:         linear-gradient(top left, #222 0%, #888 100%);
    margin:7px;
}